* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    padding: 10px;
    background-image: url("../components/header/header_bg.png");
    vertical-align: middle;
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-template-columns: repeat(4,100%);
}

.navbar {
    display: inline;
}

.greenButton {
    margin-top: 10px;
    position: relative;
    justify-content: center;

    bottom: 0;
    width: 100%;

    padding: 20px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    margin-bottom: 10px;

    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}

.greenButtonBack {
    margin-top: 10px;
    position: relative;
    justify-content: center;

    bottom: 0;
    width: 100%;
    padding: 20px;

    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    margin-bottom: 10px;

    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}

.cartTotalBlock {
    width: 100%;


    align-items: center;
    justify-content: center;



    border: 10px dashed red;

    div {
        display: flex;

        ul {
            display: block;


            li {
                display: flex;
                list-style-type: none;


                span, b {
                    font-size: 20px;
                    display: flex;


                }
            }
        }
    }
}


img {
    max-width: 100%;
}





.container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.link {

    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.footer {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../components/footer/footer_bg.png");


    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-template-columns: repeat(4,100%);
}



.footer-middle {


    display: flex;


}





.footer-title {

    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
}

.footer-link {

    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #B6C197;
}

.footer-link:hover {
    text-decoration: none;

}
.footer-link:active {
    text-decoration: none;

}

.footer-link:visited {
    text-decoration: none;
    color: #B6C197;
}





.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 -3px;
        background-repeat: no-repeat;
        margin-right: 20px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    b {
        font-size: 14px;
    }

    .removeBtn {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}





/*.social-link-fb {*/
/*    background-image: url("../img/facebook.svg");*/
/*}*/

/*.social-link-tw {*/
/*    background-image: url("../img/twitter.svg");*/
/*}*/

/*.social-link-g {*/
/*    background-image: url("../img/google-plus.svg");*/
/*}*/

/*.social-link-in {*/
/*    background-image: url("../img/linkedin.svg");*/
/*}*/

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}


.logoHeader {
    width: 60px;
    height: 20px;
}

.logoFooter {

    width: 20px;
    height: 20px;
}





