* {
    box-sizing: border-box;
}


.footer-column {

}

.footer-item {

}




img {
    max-width: 100%;
}

.list-reset {
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    margin: -5%;
    padding: 7px 0 0;
    list-style-type: none;
    text-decoration: none;
}



.container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.link {

    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: #d4d6d4;
    transition: color 0.3s ease-in-out;
}

.footer {
    width: 100%;

    background-image: url("../img/footer_bg.png");
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-template-columns: repeat(4,100%);
}







.footer-middle {
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    border-bottom: 1px solid #5D6544;
}



.footer-list {

}

.footer-title {


    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
}

.footer-link {

    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #B6C197;
}

.footer-link:hover {
    text-decoration: none;

}
.footer-link:active {
    text-decoration: none;

}

.footer-link:visited {
    text-decoration: none;
    color: #B6C197;
}





.social {

    align-items: center;
}

.change-theme {
    display: block;
    float: right;
}





/*.social-link-fb {*/
/*    background-image: url("../img/facebook.svg");*/
/*}*/

/*.social-link-tw {*/
/*    background-image: url("../img/twitter.svg");*/
/*}*/

/*.social-link-g {*/
/*    background-image: url("../img/google-plus.svg");*/
/*}*/

/*.social-link-in {*/
/*    background-image: url("../img/linkedin.svg");*/
/*}*/

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

.footer-bottom {

    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
}

.logoHeader {
    width: 60px;
    length: 60px;
}

.logoFooter {

    width: 20px;
    length: 20px;
}

.header {
    width: 100%;

    background-image: url("../img/header_bg.png");
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-template-columns: repeat(4,100%);
}