.my-class {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}

.my-class-light {
    color: #39cccc;
}

.my-class-dark {
    color: #001a33;
}

.width25 {
    width: 25%;
    padding: 0 0px 0 0;


}
